.header
  .chanels
    - for(var i=0;i<12;i++)
      img(src='http://placehold.it/100x100')
  .label
    .imgl
    p.name первый канал <br>
      span.tizer совости события хроника
.body
  .timeline
  .descblock
    .imgpered
    .desc
      p.big котята учаться летать
      p.time 
        span.o 12:00 - 17:00 пт,вт,сб 
        span.t сериал
      p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
.footer